.posts-title-h4 {
  margin: 30px 0;
  color: #323232;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
}

.more-posts-load {
  display: flex;
  margin: 10px auto;
  color: white;
  background-color: #43A6EB;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid #43A6EB;
  padding: 10px 2%;
}